body{
    margin: 0;
    text-align: center;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.title{
    font-size: 5rem;
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
font-family: 'Caveat', cursive;
    
}



section{
    font-size: 1rem;
    padding: 2rem;
    background-color: #FFFFFF;
    color: #333;
 
}
.heading{
   text-align: center;
}
.content{
    font-family:sans-serif;
    text-align: justify;
    font-size: 1rem;
}
.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px)scale(2);
}